table, td, th {
  border: 1px solid rgb(112, 159, 165);
}
table {
  margin: auto;
  margin-top: 30px;
  width: 80vw;
}
td, th {
  padding: 1rem;
}
thead th {
  font-weight: bold;
}
tfoot {
  background-color: rgba(112, 159, 165, .1);
}

fieldset{
  width: 80vw;
  margin: auto;
}

fieldset button {
  background-color: blue;
  color: pink;
}

fieldset label {
  color: blue;
}