:root {
  --primaryColor: #8f5e2f;
  --secondaryColor: #d3905e;
  --accentColor: #f5f0e9;
    font-family: 'Itim', cursive, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  color: var(--accentColor);
}

a {
  text-decoration: none;
  font-size: medium;
  transition: 350ms;
}

a:hover {
  font-size: larger;
  transition: 350ms;
}

nav {
  position: fixed;
  top: 0px;
  background-color: var(--secondaryColor);
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

nav img {
  width: 200px;
  height: 70px;
}

body {
  background-color: var(--primaryColor);
}
.heroPage {
  width: 90vw;
  height: 50vh;
  margin: 3% auto;
  display: flex;
  justify-content: center;
}

.heroPage img {
  width: 50%;
}

.heroPage h1 {
  font-size: 4rem;
}

.salmonCookieInfo {
  width: 50%;
  background-color: var(--secondaryColor);
  color: var(--accentColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.locations {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}

#locationInfo {
  background-color: var(--secondaryColor);
  width: 95%;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#locationInfo h4 {
  font-size: 1.8rem;
  font-weight: bolder;
}

#locationInfo h5 {
  font-size: 1.1rem;
}

.about {
  background-color: var(--secondaryColor);
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.about img {
  width: 49%;
}
.about h3 {
  font-size: 2rem;
}

.leftSideText {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  padding-left:  15px;
}

.leftSideText h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.leftSideText p {
  font-size: 1.1rem;
}

#merchHeader{ 
  margin: 30px auto;
  width: 60vw;
  background-color: var(--secondaryColor);
  font-size: 3rem;
  text-align: center;
}
.merch {
  width: 100vw;
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.merch h3 {
  width: 75vw;
}

.forSaleItems img {
  height: 175px;
  width: 175px;
}

.forSaleItems p {
  font-size: small;
}

footer {
  height: 6vh;
  width: 100vw;
  background-color: var(--secondaryColor);
  margin-top: 30px;
}